.custom-result {
    border: 2px solid #007bff;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    background-color: #f9f9f9;
  }

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.main-content {
  flex: 3;
}

.similar-referees-wrapper {
  flex: 1;
  margin-left: 20px;
  margin-top: 200px;
  margin-right: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #000000;
}
  